<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add logic</title>
</head>
<body>
<h1>Map headers</h1>
<form method="POST" action="http://localhost:5000/logic" enctype="multipart/form-data">
    {% for column in target_columns %}
    <div>
        <input type="text" value={{column}} readonly>
        <select name={{column}}_s id={{column}}_s>
        {% for s_column in source_columns %}
        <option value={{s_column}}>{{s_column}}</option>
        {% endfor %}
        </select>

        <select name={{column}}_sign id={{column}}_sign>
        {% for sign in signs %}
        <option value={{sign}}>{{sign}}</option>
        {% endfor %}
        </select>

        <input type="text" id="condition" name="condition">
        <input type="text" id="logic" name="logic">

        {% endfor %}
    </div>

    <p><input type="submit" value="Submit"></p>
</form>
</body>
</html>