<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Headers</title>
</head>
<body>
<h1>Map headers</h1>
<form method="POST" action="http://localhost:5000/map" enctype="multipart/form-data">
    {% for column in target_columns %}
    <input type="text" value={{column}} readonly>
    <select name={{column}} id={{column}}>
        {% for s_column in source_columns %}
    <option value={{s_column}}>{{s_column}}</option>
    {% endfor %}
    </select>
    {% endfor %}
    <p><input type="submit" value="Submit"></p>
</form>

</body>
</html>